.container {
  display: flex;
}

.sidebar {
  background-color: #c05959;
  width: 200px;
  padding: 20px;
}

.sidebar h2 {
  margin: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.sidebar ul li a {
  text-decoration: none;
  color: #131111;
}

.sidebar ul li img {
  width: 30px; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: 30px; /* Ajusta el tamaño de la imagen según tus preferencias */
  border-radius: 50%; /* Esto crea una forma circular para la imagen */
  margin-right: 10px; /* Ajusta el margen derecho según tus preferencias */
}
.sidebar ul li span {
  margin-top: 5px; /* Espacio entre la imagen y el texto */
}
.sidebar-brand-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-brand-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.sidebar-brand-name {
  margin-top: 5px;
  font-weight: bold;
}

.sidebar-brand-wrapper:hover .brand-image {
  transform: scale(1.1);
}
.brand-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**/

main {
  flex-grow: 1;
  padding: 20px;
}
/**/
.titulo {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;
}

.titulo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.titulo:hover:before {
  opacity: 1;
}

.titulo-texto {
  font-size: 46px;
  font-weight: bold;
  color: #333;
  position: relative;
  font-family: "Arial", sans-serif;
  z-index: 2;
  animation: cambioColor 4s infinite;
}

@keyframes cambioColor {
  0% {
    text-shadow: 0 0 0 #07da23, 0 0 20px #07da23;
  }
  50% {
    text-shadow: 0 0 0 #16a5c9, 0 0 20px #16a5c9;
  }
  100% {
    text-shadow: 0 0 0 #ff5500, 0 0 20px #ff5500;
  }
}

.buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.buscador-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 300px;
  z-index: 2; 
}

.buscador-boton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.buscador-boton:hover {
  background-color: #16a5c9;
}


/**/

h1, h2, h3 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.imagen {
  margin-bottom: 20px;
}

.titulo {
  margin-bottom: 20px;
}

.contenedor-imagenes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}


.imagen-izquierda,
.imagen-derecha {
  width: 480px;
  height: 300px;
  border-radius: 5rem
}

.imagen-centro {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.animacion {
  animation-name: girar;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.boton-agregar {
  background-color: #ffffff;
  color: rgba(2, 2, 2, 0.904);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 5rem;
  display: inline-block;
}

.boton-agregar:hover {
  transform: scale(1.1);
  background-color: #18a7e9d0;
  color: #110808;
}

.imagen-container {
  overflow: hidden;
  text-align: center;
}

.imagen-container img {
  transition: transform 0.3s ease;
}

.imagen-container:hover img {
  transform: scale(1.1);
}

/* Estilos para la ventana modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(48, 161, 133, 0.4);
}

.modal-contenido {
  background-color: #ca199e;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #f6f6fa;
  width: 80%;
}

.cerrar {
  color: #e40a0a;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s; 
}

.cerrar:hover,
.cerrar:focus {
  color: rgb(224, 221, 17);
  text-decoration: none;
  cursor: pointer;
}


/**/
.brand-wrapper {
  transition: transform 0.3s ease;
}

.brand-wrapper:hover {
  transform: scale(1.1);
}
/**/
